/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.event {
    background-color: #f1f1f1;
    max-width: 200px;
    margin: 10px 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
}

.event-name {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 2px 0;
}

.form-field {
    margin: 10px 0;
}

.user-name {
    margin: 5px;
}

.attend-event-button {
    color: #000;
    background-color: rgb(241, 241, 241);
    text-decoration: none;
    padding: 3px;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}