/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.event {
    background-color: #f1f1f1;
    max-width: 200px;
    margin: 10px 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
}

.event-name {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 2px 0;
}

.form-field {
    margin: 10px 0;
}

.user-name {
    margin: 5px;
}

.attend-event-button {
    color: #000;
    background-color: rgb(241, 241, 241);
    text-decoration: none;
    padding: 3px;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}

a, button {
    color: #00007a;
    text-decoration: none;
}

.nav-list {
    padding: 0;
    list-style-type: none;
    display: flex;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list a, .nav-list button {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    transition: ease-in 0.12s;
}

.nav-list a:hover, .nav-list button:hover {
    color: #6161e4;
    transition: ease-in 0.12s;
}

.log-out {
    background-color: #ff000000;
    padding: 0;
    border: none;
}
.log-out:hover {
    cursor: pointer;
}